.tipografia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    font-size: medium;
    font-style: italic;
}
li{
    list-style-type: none;
}
footer{
    background-color: white;
color: black;
padding-top: 10px;
position: absolute;
bottom: 0;
width: 100%;
}


